USE [master]
GO
/****** Object:  Database [Comfort]    Script Date: 28.03.2026 5:25:47 ******/
CREATE DATABASE [Comfort]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Comfort', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Comfort.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Comfort_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Comfort_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Comfort].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Comfort]
GO
/****** Object:  Table [dbo].[DiscountPartners]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiscountPartners](
	[Id_discount] [int] IDENTITY(1,1) NOT NULL,
	[Id_partner] [int] NULL,
	[TotalSalesValue] [decimal](10, 2) NULL,
	[Discount] [decimal](3, 2) NULL,
	[CalculationDate] [datetime] NULL,
 CONSTRAINT [PK_DiscountPartners] PRIMARY KEY CLUSTERED 
(
	[Id_discount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id_employee] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Surname] [nvarchar](max) NULL,
	[Patronumic] [nvarchar](max) NULL,
	[Birthday] [date] NULL,
	[PassportSeria] [nvarchar](max) NULL,
	[PassportNumber] [nvarchar](max) NULL,
	[BankDetails] [nvarchar](max) NULL,
	[Id_family] [int] NULL,
	[Id_health] [int] NULL,
	[Id_role] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[Id_employee] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FamilyStatus]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FamilyStatus](
	[Id_status] [int] IDENTITY(1,1) NOT NULL,
	[NmaeStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_FamilyStatus] PRIMARY KEY CLUSTERED 
(
	[Id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Health]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Health](
	[Id_health] [int] IDENTITY(1,1) NOT NULL,
	[NameHealth] [nvarchar](max) NULL,
 CONSTRAINT [PK_Health] PRIMARY KEY CLUSTERED 
(
	[Id_health] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Logins]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Logins](
	[Id_login] [int] IDENTITY(1,1) NOT NULL,
	[Login] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Id_user] [int] NULL,
 CONSTRAINT [PK_Logins] PRIMARY KEY CLUSTERED 
(
	[Id_login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partners]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partners](
	[Id_partner] [int] IDENTITY(1,1) NOT NULL,
	[NamePartner] [nvarchar](max) NULL,
	[Id_type] [int] NULL,
	[UrAdress] [nvarchar](max) NULL,
	[INN] [nvarchar](max) NULL,
	[SurnameDirector] [nvarchar](max) NULL,
	[NameDirector] [nvarchar](max) NULL,
	[PatronumicDirector] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Raiting] [decimal](5, 2) NULL,
 CONSTRAINT [PK_Partners] PRIMARY KEY CLUSTERED 
(
	[Id_partner] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartnerSales]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartnerSales](
	[Id_sale] [int] IDENTITY(1,1) NOT NULL,
	[PartnerId] [int] NOT NULL,
	[SaleDate] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[ProductName] [nvarchar](200) NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_PartnerSales] PRIMARY KEY CLUSTERED 
(
	[Id_sale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Products]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[Id_product] [int] IDENTITY(1,1) NOT NULL,
	[Articul] [nvarchar](max) NULL,
	[NameProduct] [nvarchar](max) NULL,
	[Description] [nvarchar](max) NULL,
	[MinPrice] [decimal](10, 2) NULL,
	[Id_size] [int] NULL,
	[WeightNETTO] [nvarchar](max) NULL,
	[WeightBRUTTO] [nvarchar](max) NULL,
	[CostPrice] [decimal](10, 2) NULL,
	[Id_type] [int] NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[Id_product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductsMaterial]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductsMaterial](
	[Id_prodmaterial] [int] IDENTITY(1,1) NOT NULL,
	[Id_material] [int] NULL,
	[Id_product] [int] NULL,
 CONSTRAINT [PK_ProductsMaterial] PRIMARY KEY CLUSTERED 
(
	[Id_prodmaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductType]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductType](
	[Id_prodtype] [int] IDENTITY(1,1) NOT NULL,
	[NameProdType] [nvarchar](max) NULL,
	[Coefficient] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductType] PRIMARY KEY CLUSTERED 
(
	[Id_prodtype] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductWorkshop]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductWorkshop](
	[Id_prodwork] [int] IDENTITY(1,1) NOT NULL,
	[Id_product] [int] NULL,
	[Id_workshop] [int] NULL,
	[TimeMake] [nvarchar](max) NULL,
 CONSTRAINT [PK_ProductWorkshop] PRIMARY KEY CLUSTERED 
(
	[Id_prodwork] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Id_request] [int] IDENTITY(1,1) NOT NULL,
	[Id_partner] [int] NULL,
	[Manager] [int] NULL,
	[RequestDate] [datetime] NULL,
	[Id_status] [int] NULL,
	[TotalAmountReq] [decimal](10, 2) NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Id_request] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RequestDetails]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RequestDetails](
	[Id_detailsreq] [int] IDENTITY(1,1) NOT NULL,
	[Id_request] [int] NULL,
	[Id_product] [int] NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [PK_RequestDetails] PRIMARY KEY CLUSTERED 
(
	[Id_detailsreq] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id_role] [int] IDENTITY(1,1) NOT NULL,
	[NameRole] [nvarchar](max) NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id_role] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SaleHistory]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SaleHistory](
	[Id_sale] [int] IDENTITY(1,1) NOT NULL,
	[Id_product] [int] NULL,
	[Quantity] [int] NULL,
	[Id_point] [int] NULL,
	[Amount] [decimal](10, 2) NULL,
 CONSTRAINT [PK_SaleHistory] PRIMARY KEY CLUSTERED 
(
	[Id_sale] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalePoint]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalePoint](
	[Id_point] [int] IDENTITY(1,1) NOT NULL,
	[NamePoint] [nvarchar](max) NULL,
	[AdressPoint] [nvarchar](max) NULL,
	[Id_partner] [int] NULL,
 CONSTRAINT [PK_SalePoint] PRIMARY KEY CLUSTERED 
(
	[Id_point] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SizeUpakovka]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SizeUpakovka](
	[Id_size] [int] IDENTITY(1,1) NOT NULL,
	[Width] [nvarchar](max) NULL,
	[Height] [nvarchar](max) NULL,
	[Length] [nvarchar](max) NULL,
 CONSTRAINT [PK_SizeUpakovka] PRIMARY KEY CLUSTERED 
(
	[Id_size] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id_status] [int] IDENTITY(1,1) NOT NULL,
	[NameStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[Id_status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeMaterial]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeMaterial](
	[Id_type_material] [int] IDENTITY(1,1) NOT NULL,
	[Name_material] [nvarchar](max) NULL,
	[LostProcent] [decimal](5, 2) NULL,
 CONSTRAINT [PK_TypeMaterial] PRIMARY KEY CLUSTERED 
(
	[Id_type_material] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeOfBusiness]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeOfBusiness](
	[Id_type] [int] IDENTITY(1,1) NOT NULL,
	[NameBusiness] [nvarchar](50) NULL,
 CONSTRAINT [PK_TypeOfBusiness] PRIMARY KEY CLUSTERED 
(
	[Id_type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TypeWorkshop]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TypeWorkshop](
	[Id_type_workshop] [int] IDENTITY(1,1) NOT NULL,
	[NameTypeWorkshop] [nvarchar](max) NULL,
 CONSTRAINT [PK_TypeWorkshop] PRIMARY KEY CLUSTERED 
(
	[Id_type_workshop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Workshop]    Script Date: 28.03.2026 5:25:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Workshop](
	[Id_workshop] [int] IDENTITY(1,1) NOT NULL,
	[NameWorkshop] [nvarchar](max) NULL,
	[CountPeople] [int] NULL,
	[Id_type] [int] NULL,
	[Id_employee] [int] NULL,
 CONSTRAINT [PK_Workshop] PRIMARY KEY CLUSTERED 
(
	[Id_workshop] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Index [IX_PartnerSales_PartnerId]    Script Date: 28.03.2026 5:25:48 ******/
CREATE NONCLUSTERED INDEX [IX_PartnerSales_PartnerId] ON [dbo].[PartnerSales]
(
	[PartnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartnerSales_SaleDate]    Script Date: 28.03.2026 5:25:48 ******/
CREATE NONCLUSTERED INDEX [IX_PartnerSales_SaleDate] ON [dbo].[PartnerSales]
(
	[SaleDate] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DiscountPartners]  WITH CHECK ADD  CONSTRAINT [FK_DiscountPartners_Partners] FOREIGN KEY([Id_partner])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DiscountPartners] CHECK CONSTRAINT [FK_DiscountPartners_Partners]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_FamilyStatus] FOREIGN KEY([Id_family])
REFERENCES [dbo].[FamilyStatus] ([Id_status])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_FamilyStatus]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Health] FOREIGN KEY([Id_health])
REFERENCES [dbo].[Health] ([Id_health])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Health]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Role] FOREIGN KEY([Id_role])
REFERENCES [dbo].[Role] ([Id_role])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK_Employee_Role]
GO
ALTER TABLE [dbo].[Logins]  WITH CHECK ADD  CONSTRAINT [FK_Logins_Employee] FOREIGN KEY([Id_user])
REFERENCES [dbo].[Employee] ([Id_employee])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Logins] CHECK CONSTRAINT [FK_Logins_Employee]
GO
ALTER TABLE [dbo].[Partners]  WITH CHECK ADD  CONSTRAINT [FK_Partners_TypeOfBusiness] FOREIGN KEY([Id_type])
REFERENCES [dbo].[TypeOfBusiness] ([Id_type])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Partners] CHECK CONSTRAINT [FK_Partners_TypeOfBusiness]
GO
ALTER TABLE [dbo].[PartnerSales]  WITH CHECK ADD  CONSTRAINT [FK_PartnerSales_Partners] FOREIGN KEY([PartnerId])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PartnerSales] CHECK CONSTRAINT [FK_PartnerSales_Partners]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_ProductType] FOREIGN KEY([Id_type])
REFERENCES [dbo].[ProductType] ([Id_prodtype])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_ProductType]
GO
ALTER TABLE [dbo].[Products]  WITH CHECK ADD  CONSTRAINT [FK_Products_SizeUpakovka] FOREIGN KEY([Id_size])
REFERENCES [dbo].[SizeUpakovka] ([Id_size])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Products] CHECK CONSTRAINT [FK_Products_SizeUpakovka]
GO
ALTER TABLE [dbo].[ProductsMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterial_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductsMaterial] CHECK CONSTRAINT [FK_ProductsMaterial_Products]
GO
ALTER TABLE [dbo].[ProductsMaterial]  WITH CHECK ADD  CONSTRAINT [FK_ProductsMaterial_TypeMaterial] FOREIGN KEY([Id_material])
REFERENCES [dbo].[TypeMaterial] ([Id_type_material])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductsMaterial] CHECK CONSTRAINT [FK_ProductsMaterial_TypeMaterial]
GO
ALTER TABLE [dbo].[ProductWorkshop]  WITH CHECK ADD  CONSTRAINT [FK_ProductWorkshop_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductWorkshop] CHECK CONSTRAINT [FK_ProductWorkshop_Products]
GO
ALTER TABLE [dbo].[ProductWorkshop]  WITH CHECK ADD  CONSTRAINT [FK_ProductWorkshop_Workshop] FOREIGN KEY([Id_workshop])
REFERENCES [dbo].[Workshop] ([Id_workshop])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ProductWorkshop] CHECK CONSTRAINT [FK_ProductWorkshop_Workshop]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Employee] FOREIGN KEY([Manager])
REFERENCES [dbo].[Employee] ([Id_employee])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Employee]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Partners] FOREIGN KEY([Id_partner])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Partners]
GO
ALTER TABLE [dbo].[Request]  WITH CHECK ADD  CONSTRAINT [FK_Request_Status] FOREIGN KEY([Id_status])
REFERENCES [dbo].[Status] ([Id_status])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Request] CHECK CONSTRAINT [FK_Request_Status]
GO
ALTER TABLE [dbo].[RequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetails_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestDetails] CHECK CONSTRAINT [FK_RequestDetails_Products]
GO
ALTER TABLE [dbo].[RequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_RequestDetails_Request] FOREIGN KEY([Id_request])
REFERENCES [dbo].[Request] ([Id_request])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[RequestDetails] CHECK CONSTRAINT [FK_RequestDetails_Request]
GO
ALTER TABLE [dbo].[SaleHistory]  WITH CHECK ADD  CONSTRAINT [FK_SaleHistory_Products] FOREIGN KEY([Id_product])
REFERENCES [dbo].[Products] ([Id_product])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleHistory] CHECK CONSTRAINT [FK_SaleHistory_Products]
GO
ALTER TABLE [dbo].[SaleHistory]  WITH CHECK ADD  CONSTRAINT [FK_SaleHistory_SalePoint] FOREIGN KEY([Id_point])
REFERENCES [dbo].[SalePoint] ([Id_point])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SaleHistory] CHECK CONSTRAINT [FK_SaleHistory_SalePoint]
GO
ALTER TABLE [dbo].[SalePoint]  WITH CHECK ADD  CONSTRAINT [FK_SalePoint_Partners] FOREIGN KEY([Id_partner])
REFERENCES [dbo].[Partners] ([Id_partner])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SalePoint] CHECK CONSTRAINT [FK_SalePoint_Partners]
GO
ALTER TABLE [dbo].[Workshop]  WITH CHECK ADD  CONSTRAINT [FK_Workshop_Employee] FOREIGN KEY([Id_employee])
REFERENCES [dbo].[Employee] ([Id_employee])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Workshop] CHECK CONSTRAINT [FK_Workshop_Employee]
GO
ALTER TABLE [dbo].[Workshop]  WITH CHECK ADD  CONSTRAINT [FK_Workshop_TypeWorkshop] FOREIGN KEY([Id_type])
REFERENCES [dbo].[TypeWorkshop] ([Id_type_workshop])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Workshop] CHECK CONSTRAINT [FK_Workshop_TypeWorkshop]
GO
USE [master]
GO
